# Multiple Regression
***Multiple regression is like linear regression, but with more than one independent value, meaning that we try to predict a value based on two or more variables.***

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('cars.csv')

In [4]:
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     36 non-null     object
 1   Model   36 non-null     object
 2   Volume  36 non-null     int64
 3   Weight  36 non-null     int64
 4   CO2     36 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB

In [10]:
df.isnull().sum()

Car       0
Model     0
Volume    0
Weight    0
CO2       0
dtype: int64

In [8]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Volume,36.0,1611.111111,388.975047,900.0,1475.00,1600.0,2000.00,2500.0
Weight,36.0,1292.277778,242.123889,790.0,1117.25,1329.0,1418.25,1746.0
CO2,36.0,102.027778,7.454571,90.0,97.75,99.0,105.00,120.0

In [11]:
df.corr()

          Volume    Weight       CO2
Volume  1.000000  0.753537  0.592082
Weight  0.753537  1.000000  0.552150
CO2     0.592082  0.552150  1.000000

In [9]:
X = df[['Weight', 'Volume']]
y = df['CO2']

In [12]:
from sklearn.linear_model import LinearRegression

In [19]:
regr_model = LinearRegression()

In [33]:
regr_model.fit(X,y)

LinearRegression()

In [34]:
print(regr_model.coef_)

[0.00755095 0.00780526]

In [35]:
#predict the CO2 emission of a car where the weight is 2300kg, and the volume is 1300cm3
print(regr_model.predict([[2300,1300]]))

[107.2087328]

In [39]:
# In case of weight increase by 1000kg
print(regr_model.predict([[3300,1300]]))

[114.75968007]

In [40]:
#Lets calculate the prediction 
107.2087328 + (1000*0.00755095)

114.75968280000001

Which shows that the coefficient of 0.00755095 is correct